@font-face {
  font-family: "Author";
  src:
    url("fonts/Author-Regular.woff2") format("woff2"),
    url("fonts/Author-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Author";
  src:
    url("fonts/Author-Medium.woff2") format("woff2"),
    url("fonts/Author-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Author";
  src:
    url("fonts/Author-Bold.woff2") format("woff2"),
    url("fonts/Author-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Author";
  color: #262424;
  position: relative;
}

body::before {
  content: "";
  position: fixed; /* stays in place */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("relief.jpg");
  background-size: cover; /* fills screen */
  background-position: center; /* centers image */
  background-repeat: no-repeat;

  filter: blur(2px); /* 👈 makes it blurry */
  transform: scale(1.1); /* prevents blur edge cropping */

  z-index: -1; /* puts it behind everything */
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 238, 230, 0.8); /* dark overlay */
  z-index: -1;
}

header {
  margin: 0px 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-weight: bold;
  font-size: 42pt;
}

p {
  font-size: 20pt;
}

span {
  background-color: #f1b308; /* semi-yellow */
  padding: 0 0.25em;
  border-radius: 0.15em;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.bio {
}

/* NAVBAR CONTAINER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  font-weight: 500;
}

/* REMOVE BULLET POINTS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* NORMAL LINKS */
.nav-links a {
  position: relative;
  text-decoration: none;
  color: #262424;
}

/* Create the hidden underline */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #262424;

  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

/* Animate on hover */
.nav-links a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* HIGHLIGHTED BUTTON */
.cta {
  background-color: #f1b308;
  padding: 8px 16px;
  border-radius: 16px;
  color: white;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.cta::after {
  display: none;
}

.cta:hover {
  background-color: #f4d01e; /* lighter/different color */
  transform: translateY(-2px); /* subtle lift effect */
}
